
.TrendsCard{
    background-color: #fff;
    margin-top: 0px !important;
    padding-bottom: 10px !important;
    margin-bottom: 3px !important;

    .titleArea{
        .title{
            font-size: 1.28em;
            line-height: 1.28em;
            margin-right: 3px;
        }
        .fixinfo{
            margin-left: 3px;
            font-size: 0.88em;
            line-height: 0.88em;
            color: orange;
        }
    }


    .trendsCol{
        padding:3.5px 16px !important;
        .keyword{
            color:orange;
        }

        .tweetCount{
            font-size: 0.8em;
            color: rgba(0,0,0,0.75);
            font-weight: 500;
        }
    }
}